home
python3
cuda
vscode
git

playground/crawler/*
!playground/crawler
!playground/crawler/*.py


playground/dlib/*
!playground/dlib/*.py
!playground/dlib/*.ipynb

playground/pytorch/MNIST_data
playground/pytorch/basics/*
!playground/pytorch/basics/*.py
!playground/pytorch/basics/*.ipynb
playground/pytorch/beginner/*
!playground/pytorch/beginner/*.py
!playground/pytorch/beginner/*.ipynb

playground/study


playground/tensorflow/movie-poster/*
!playground/tensorflow/movie-poster/*.py
!playground/tensorflow/movie-poster/*.ipynb